.main-div {
    width: 25vw;
    padding: 5px;
    margin-top: 10vh;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.sel-div {
    width: 40vw;
    padding: 10px;
    margin-top: 2vh;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.imgDiv {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    word-spacing: 5px;
    margin-bottom: 1rem;
    color: #2c3148;
}

.para {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-color: darkorchid;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
    cursor: pointer;
}

.button:hover:before {
    width: 100%;
}

.disabled, .disabled::before, .disabled::after {
    pointer-events: none !important;
    cursor: default !important;
    background-color: #d2d2d2 !important;
    border-color: darkorchid !important;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .main-div {
        width: 50vw;
        padding: 20px;
        margin-top: 7vh;
    }

    .sel-div {
        width: 60vw;
        padding: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .main-div {
        width: 75vw;
        padding: 30px;
        margin-top: 20vh;
    }

    .sel-div {
        width: 80vw;
        padding: 25px;
        margin-top: 8vh;
    }

    .head {
        font-size: 28px;
        word-spacing: 4px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 767px) {
    .main-div {
        width: 95vw;
        padding: 10px;
        margin-top: 2vh;
    }

    .sel-div {
        width: 95vw;
        padding: 10px;
        margin-top: 2vh;
    }

    .head {
        font-size: 24px;
        word-spacing: 3px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 374px) {
    .main-div {
        width: 96vw;
        padding: 8px;
    }

    .sel-div {
        width: 96vw;
        padding: 8px;
    }

    .head {
        font-size: 22px;
        word-spacing: 1px;
    }
}